/* soluzione primo esercizio */
.ex-1-square{
    transition: background-color 5s;
}

.ex-1-square:hover{
    background-color: red;
}

/* soluzione secondo esercizio */
.ex-2-square{
    transition: width 2s ease-in;
}

.ex-2-square:active{
    width: 100%;
}

/* soluzione terzo esercizio */
.ex-3-square{
    transition: border-radius 0.5s ease-out 0.3s ;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* soluzione quarto esercizio */
.ex-4-square{
    transition: opacity 0.7s ease-in ;
}

.ex-4-square:hover{
    opacity: 0%;
}

/* soluzione quinto esercizio */
.ex-5-square{
    transition: transform 0.9s ease-out;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

/* soluzione sesto esercizio */
.ex-6-img{
    transition: filter;
}

.ex-6-img:hover{
    filter: grayscale();
}